</div>
<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button" style="background-color: #7e57c2;">
        <i class="fas fa-chevron-up" style="color: white;">
        </i>
</a>