
<div class="modal fade" id="check" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="Heading">Bidded Products</h4>
        </div>
          <div class="modal-body">
       
            <div class="alert alert-danger">Bidded {{product.ProName}}?</div>
       
        </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-success" onclick="bidded();">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    <!-- /.modal-content --> 
    </div>
      <!-- /.modal-dialog --> 
</div>