<!-- Sidebar -->

<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="/" aria-label="Home">
      <i class="far fa-book fa-lg"></i>
    </a>
    <div class="mx-1" style="border-left: 1px solid gray;
  height: match_parent; visibility: hidden;
  top: 0;"></div>
    <a class="py-2 d-none d-md-inline-block" href="/deadline">Deadline</a>
    <div class="mx-1" style="border-left: 1px solid gray;
  height: match_parent;
  top: 0;"></div>
    <a class="py-2 d-none d-md-inline-block" href="/note">Ghi chú</a>
    <div class="mx-1" style="border-left: 1px solid gray;
  height: match_parent;
  top: 0;"></div>
    <a class="py-2 d-none d-md-inline-block" href="/study/course">Quản lý học phần</a>
    <div class="mx-1" style="border-left: 1px solid gray;
  height: match_parent;
  top: 0;"></div>
    <a class="py-2 d-none d-md-inline-block" href="/score/course">Quản lý điểm học tập</a>
    <div class="mx-1" style="border-left: 1px solid gray;
  height: match_parent;
  top: 0;"></div>
    <a class="py-2 d-none d-md-inline-block" href="/graduate">Chương trình đào tạo</a>
    <div class="mx-1" style="border-left: 1px solid gray;
  height: match_parent;
  top: 0;"></div>
    <a class="py-2 d-none d-md-inline-block" href="/account/profile">Tùy chỉnh</a>
    <div class="mx-1" style="border-left: 1px solid gray;
  height: match_parent;
  top: 0;"></div>
    <a class="py-2 d-none d-md-inline-block" href="/contact">Liên hệ</a>
    <div class="mx-1" style="border-left: 1px solid gray;
  height: match_parent;
  top: 0;"></div>
    <a class="py-2 d-none d-md-inline-block" href="/about">About</a>
    <div class="mx-1" style="border-left: 1px solid gray;
  height: match_parent;
  top: 0;"></div>
    <a class="py-2 d-none d-md-inline-block text-danger" href="/account/signout">Signout</a>
  </div>
</nav>
<!-- /#sidebar-wrapper -->