<!DOCTYPE html>
<html lang="en">

<head>
    {{>import/head}}
</head>

<body>
    {{>import/navbar}}

    <div class="container">
        <h1 class="text-center">Contact us</h1>
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6374728512437!2d106.68055795086221!3d10.76239779229344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1953a6e961%3A0xc77e334f1510b975!2zxJDhuqFpIGjhu41jIEtob2EgaOG7jWMgVOG7sSBuaGnDqm4!5e0!3m2!1sen!2s!4v1577255933141!5m2!1sen!2s"
                    width="100%" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-sm-4" id="contact_site">
                <h3>Contact address</h3>
                <hr align="left" width="50%">
                <h4 class="pt-2">Student</h4>
                <i class="fas fa-portrait"></i>
                <a href="#">1712268 - Nguyễn Hồng Ân</a><br>
                <i class="fas fa-portrait"></i>
                <a href="#">1712208 - Hà Phùng Quang Vũ</a><br>
                <i class="fas fa-portrait"></i>
                <a href="#">1712859 - Nguyễn Phạm Anh Tú</a><br>
                <h4 class="pt-2">Adress</h4>
                <i class="fas fa-globe" style="color:#000"></i> 
                <a href="#">www.example.com</a><br>
                <i class="fab fa-facebook-square"></i>
                <a href="#">www.facebook.com/example</a><br>
                <i class="fab fa-twitter-square"></i>
                <a href="#">www.twitter.com/example</a><br>
                <h4 class="pt-2">Contact</h4>
                <i class="fas fa-phone" style="color:#000"></i> 
                <a href="tel:+"> 0912345678 </a><br>
                <h4 class="pt-2">Email</h4>
                <i class="fa fa-envelope" style="color:#000"></i> 
                <a href="mailto:">example@example.com</a><br>
            </div>
        </div>
    </div>


    {{> import/b4_script}}
</body>

</html>