<!DOCTYPE html>
<html lang="en">

<head>
  {{>import/head}}
</head>

<body>
  {{>import/navbar}}
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
    style="background-image:url('/images/main_picture.jpg')">
    <div style="background-color: rgba(255,255,255,0.5);">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-2 font-weight-light text-dark animated bounceInDown">Welcome</h1>
        <p class="h3 font-weight-bold text-dark animated flipInX delay-1s">Chào mừng bạn đến với website Quản lý học tập</p>
      </div>
      <div class="product-device-left shadow-sm d-none d-md-block"></div>
    </div>
  </div>



  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 animated fadeInUp">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Quản lý Deadline</h2>
        <p class="lead">Bạn có thể thêm, xóa, sửa các deadline theo từng môn học</p>
        <a class="btn-floating btn-lg purple-gradient" href="/deadline">Deadline</a>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Quản lý ghi chú</h2>
        <p class="lead">Bạn có thể thêm, xóa, sửa các ghi chú theo các môn học</p>
        <a class="btn-floating btn-lg purple-gradient" href="/note">Ghi chú</a>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 animated fadeInUp">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Quản lý học phần</h2>
        <p class="lead">Bạn có thể thêm, xóa, sửa các học phần môn học vào học kì</p>
        <a class="btn-floating btn-lg purple-gradient" href="/study/course">Quản lý học phần</a>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Quản lý điểm học tập</h2>
        <p class="lead">Bạn có thể thêm, xóa, sửa các điểm của học phần và xem điểm tổng kết</p>
        <a class="btn-floating btn-lg purple-gradient" href="/score/course ">Quản lý điểm học tập</a>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 animated fadeInUp">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Chương trình đào tạo</h2>
        <p class="lead">Xem chương trình đào tạo theo khóa và chuyên ngành</p>
        <a class="btn-floating btn-lg purple-gradient" href="/graduate ">Chương trình đào tạo</a>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Tùy chỉnh</h2>
        <p class="lead">Chỉnh sửa thông tin cá nhân, quản lý tác vụ Admin</p>
        <a class="btn-floating btn-lg purple-gradient" href="/account/profile">Tùy chỉnh</a>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
  <footer class="container py-5 animated fadeInUp text-primary">
    <div class="row">
      <div class="col-12 col-md">
        <a class="text-primary" href="/">
          <i class="far fa-book fa-lg"></i>
        </a>
        <small class="d-block mb-3 text-info">&copy; 2020-2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>Tính năng chính</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white-50" href="/deadline">Deadline</a></li>
          <li><a class="text-white-50" href="/note">Ghi chú</a></li>
          <li><a class="text-white-50" href="/study/course">Quản lý học phần</a></li>
          <li><a class="text-white-50" href="/score">Quản lý điểm học tập</a></li>
          <li><a class="text-white-50" href="/graduate">Chương trình đào tạo</a></li>
          <li><a class="text-white-50" href="/account/profile">Tùy chỉnh</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Thành viên</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white-50" href="https://www.facebook.com/quangvupp321/">Hà Phùng Quang Vũ</a></li>
          <li><a class="text-white-50" href="https://www.facebook.com/minhmapmo69">Hồ Đình Minh</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white-50" href="/about">Team</a></li>
          <li><a class="text-white-50" href="/contact">Contact</a></li>
          <li><a class="text-white-50" href="/about">Privacy</a></li>
          <li><a class="text-white-50" href="/about">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
  {{> import/b4_script}}
</body>

</html>