<!DOCTYPE html>
<html lang="en">

<head>
  <title> {{title}} </title>
  <link rel="stylesheet" href="./assets/css/signin.css">
</head>

<body>
  <form class="signin_box" onsubmit="return checkPassword(this)" method="POST" action="signup">
    <h1>Signup</h1>
    <input type="text" name="fullname" id="fullname" placeholder="Fullname" required>
    <input type="text" name="username" id="username" placeholder="MSSV" required>
    <input type="password" name="password" id="password" placeholder="Type Password" required>
    <input type="password" name="valid_password" id="valid_password" placeholder="Type Password again" required>
    <input type="text" name="birth" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Birthday"
      required>
    <input type="submit" class="btn" value="Submit">
  </form>
  {{> import/b4_script}}
</body>

</html>