body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}
.signin_box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.signin_box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.signin_box input[type = "text"],.signin_box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.signin_box input[type = "text"]:focus,.signin_box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.signin_box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.signin_box input[type = "submit"]:hover{
  background: #2ecc71;
}
.signin_box button[id = "register"]{
  border:0;
  background: none;
  display: block;
  margin: 15px auto;
  text-align: center;
  border: 1px solid red;
  padding: 10px 30px;
  outline: none;
  color: white;
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
}
.signin_box button[id = "register"]:hover{
  color: white;
  background: red;
}




.custom-select {
  position: relative;
  font-family: Arial;
  margin: auto;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}