<!DOCTYPE html>
<html lang="en">

<head>
  {{>import/head}}
  <link rel="stylesheet" href="./assets/css/errorPage.css">
</head>

<body>
  <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>{{errcode}}</h1>
			</div>
      <h2>{{errMess}}</h2>
			<a class="bt mt-5" href="/">
        <span class="arrow"></span>Return To Homepage
      </a>
		</div>
	</div>
</body>

</html>